# Local environment
.DS_Store

# Vagrant
.vagrant/

# Coverage
.coverage
coverage.xml

# Cache
service/__pycache__/
__pycache__/

# Unit Tests
tests/__pycache__/
ubuntu-bionic-18.04-cloudimg-console.log
unittests.xml

# VSCode
.vscode/
